body{
background-color: purple;
}
.fieldset{
    margin-top: 70px;
    margin-left: 400px;
    margin-right: 300px;
    background-color:#e8491d;
    text-align:center;
    border-radius: 20px;
    height: 50%;
}
p {
    color: black;
    font-size: 20px;
}
